<div
  class="page-container r"
  fxFlex="100"
  fxFLexAlign="center"
  fxLayout="row wrap"
  appSwipe
>
  <div
    fxFlex="100"
    class="content"
    fxLayout="row wrap"
    fxLayoutAlign="center flex-start" 
  >
    <div class="spinner" *ngIf="!meteo">
      <div class="center-body">
        <div class="loader-circle-8"> 
          <svg class="circular" viewbox="50 50 50 50">
            <circle
              class="path"
              cx="35"
              cy="35"
              r="20"
              fill="none"
              stroke-width="8"
              stroke-miterlimit="10"
            />
          </svg>
        </div>
      </div>
    </div>
    <div *ngIf="meteo && errMess">
      <div
        class="section err"
        fxLayoutAlign="center center"
        fxLayout="row wrap"
      >
        <div fxFlex="100" class="err-sorry">sorry! 🤷</div>
        <div fxFlex="100">{{ errMess.status }} - {{ errMess.text }}</div>
        <div fxFlex="100">{{ errMess.message }}</div>
      </div>
    </div>
    <div
      *ngIf="meteo && !errMess"
      fxLayout="row wrap"
      fxLayoutAlign="center center"
      fxFlex="100"
      class="r meteo"
    
    >
      <h5 class="date b" fxFlex="100">
        Today
        {{ date + (info.timezone + offset) * 1000 | date: ' MMMM dd, HH:mm' }}
      </h5>
      <div
        class="forecast b"
        fxFlex="100"
        fxLayoutAlign="center start"
        fxLayout="row wrap"
      >
        <div
          *ngIf="!farenheit"
          fxFlex="100"
          fxLayoutAlign="center center"
          class="r temp-container"
        >
          <div class="g temp" >
            {{ meteo[0].main.temp | number: '1.0-0' }}
          </div>
          <div class="b" fxLayout="row wrap">
            <div class="r deg" fxFlex="100">°</div>
            <div class="g deg" fxFlex="100">c</div>
          </div>
        </div>
        <div
          *ngIf="farenheit"
          fxFlex="100"
          fxLayoutAlign="center center"
          class="r temp-container"
        >
          <div class="g temp">
            {{ meteo[0].main.temp | farenheit }}
          </div>
          <div class="b" fxLayout="row wrap">
            <div class="r deg" fxFlex="100">°</div>
            <div class="g deg" fxFlex="100">f</div>
          </div>
        </div>
        <div class="weather-description" fxFlex="100">
          <div class="r">
            {{ meteo[0].weather[0].description | titlecase }}
          </div>
          <div *ngIf="!farenheit" class="b">
            Perceived temperature:
            {{ meteo[0].main.feels_like | number: '1.0-0' }}°
          </div>
          <div *ngIf="farenheit" class="b">
            Perceived temperature:
            {{ meteo[0].main.feels_like | farenheit }}°
          </div>
        </div>
        <div class="r" fxLayoutAlign="center">
          <fa-icon *ngIf="icon" class="weather-icon" [icon]="icon" @spread></fa-icon>
        </div>

        <div
          *ngIf="!farenheit"
          fxFlex="100"
          fxLayoutAlign="center"
          class="maxMin g"
        >
          <div class="r" fxFlex>
            Max: {{ meteo[0].main.temp_max | number: '1.0-0' }}°<span
              class="material-symbols-outlined"
            >
              north
            </span>
            <span class="separator">.</span>
            Min: {{ meteo[0].main.temp_min | number: '1.0-0' }}°
            <span class="material-symbols-outlined"> south </span>
          </div>
        </div>
        <div *ngIf="farenheit" fxFlex="100" class="maxMin g">
          <div class="r" fxFlex>
            Max: {{ meteo[0].main.temp_max | farenheit }}°<span
              class="material-symbols-outlined"
            >
              north
            </span>
            <span class="separator">.</span>
            Min: {{ meteo[0].main.temp_min | farenheit }}°
            <span class="material-symbols-outlined"> south </span>
          </div>
        </div>
        <div class="b sun-info" fxFlex="60" fxFlex.lt-md="100">
          <div class="section" fxFlex="50" fxLayout="row wrap">
            <div
              class="sunrise-info g"
              fxFlex="50"
              fxLayout="row wrap"
              fxLayoutAlign="center space-around"
            >
              <h5 fxFlex="100" class="r">sunrise</h5>
              <div>
                {{
                  (info.sunrise + info.timezone + offset) * 1000 | date: 'HH:mm'
                }}
              </div>
            </div>
            <div fxFlex="50" fxLayoutAlign="center end" class="r sun-container">
              <div *ngIf="sunrise" @sunrise class="sun sunrise"></div>
              <div class="hill"></div>
            </div>
          </div>

          <div fxFlex="50" fxLayout="row wrap">
            <div
              class="sunrise-info g"
              fxFlex="50"
              fxLayout="row wrap"
              fxLayoutAlign="center space-around"
            >
              <h5 fxFlex="100" class="r">sunset</h5>
              <div>
                {{
                  (info.sunset + info.timezone + offset) * 1000 | date: 'HH:mm'
                }}
              </div>
            </div>
            <div fxFlex="50" fxLayoutAlign="center end" class="r sun-container">
              <div *ngIf="sunset" @sunset class="sun sunset"></div>
              <div class="hill"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxLayoutAlign="center">
    <button class="arrow-btn" mat-icon-button [routerLink]="['daydetails']" >
      <fa-icon class="arrow" [icon]="faAnglesDown"></fa-icon>
    </button>
  </div>
</div>
