<div class="container" fxLayout="row wrap " fxRowHeight="100px">
  <div class="section" fxLayoutAlign="center center" fxFlex="50">
    <div class="card"></div>
  </div>
  <div class="section" fxLayoutAlign="center center" fxFlex="50">
    <div class="card"></div>
  </div>
  <div class="section" fxLayoutAlign="space-around center" fxFlex="50">
    <div class="card"></div>
  </div>
  <div class="section" fxLayoutAlign="center center " fxFlex="50">
    <div style="height:176px;">
      <div id="tri" class=""></div>
    </div>
  </div>
</div>
